/* background  */
.peng-bg{
    background-color:  #FFFBF0;
    
}

.buy-btn{
    border: none;
    padding: 9px 25px;
    border-radius: 8px;
    background-image: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    color: white;

}

